<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img src="/public/images/icon.png" alt="LOGO">
    <h1 class="display-3"><b>Slack Logo</b></h1>
    <p class="lead"><b>Welcome to Slack!</b></p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
